html {
    min-width: 280px;
}

body {
    padding: 20px 40px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

.header {
    font-size: 120%;
}

.content {
    
}

form fieldset{
    text-align: center;
}

.D-ib {
    display: inline-block;
}
.Ta-c {
    text-align: center;
}

.P-10 {
    padding: 10px;
}
.Py-10 {
    padding: 10px 0;
}
.Px-10 {
    padding: 0 10px;
}
.P-16 {
    padding: 16px;
}

.W-10 {
    width: 10%;
}
.W-20 {
    width: 20%;
}
.W-30 {
    width: 30%;
}
.W-40 {
    width: 40%;
}
.W-50 {
    width: 50%;
}
.W-60 {
    width: 60%;
}
.W-70 {
    width: 70%;
}
.W-80 {
    width: 80%;
}
.W-100 {
    width: 100%;
}

.F-m {
    font-size: 150%;
}

.F-l {
    font-size: 200%;
}

.B-gray {
    border: 1px solid #e2e2e6;
}

.W-100 {
    width: 100%;
}

.F-end {
    float: right;
    display: inline;
}

.Cur-p {
    cursor: pointer
}

.Bc-gray{
    background-color: #ccc;
}

.Bdr-10{
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .item-img, .item-desc, .L-screen {
        display: none!important;
    }
    .pure-form input[type=text] {
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    .item-count, .M-screen{
        display: none!important;
    }
    .pure-form input[type=text] {
        display: inline-block;
    }
}

@media screen and (max-width: 799px) {
    .register-form {
        width: 100%;
    }
}


.Table {
    display: table;
}
.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row {
    display: table-row;
}
.Cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
